# DTSC 580: Data Manipulation
## Assignment: LEGO Project
### Name:

![LegoSchema](Lego_Schema.PNG)

## Overview

In this assignment, you will load the various tables from the [Rebrickable](https://rebrickable.com/) website and perform analysis on the data.  Rebrickable is a fantastic website that is used to show you which LEGO sets you can build from the sets and parts you already own.  They will even show you which parts you are missing to complete the new set and suggest sets that you could purchase to get those parts.  

## Data

The data has been downloaded directly from their website and includes files for the tables shown in the schema above.  Your first task will be to go through the data and review the schema to understand how the tables all fit together.  There is no data dictionary that I am aware of, but you should be able to understand this data by reviewing the files and schema and visiting their [Download](https://rebrickable.com/downloads/) page and [API](https://rebrickable.com/api/) documentation.  **Note that you must use the files downloaded from Brightspace for this assignment and not download new files from the Rebrickable website.**

## Assignment

In this assignment, you will create a number of functions to complete certain tasks.  This is not needed if you were working on this project on your own, but since we want to see if you can select the data via Pandas/Numpy, we will use those functions in the automatic grading in CodeGrade.  Without this, students could try to look up the answers in the `csv` files instead of wrangling the data with Python/Pandas, which would defeat the purpose of this class.

In addition, we would strongly suggest that you merge data sets as appropriate for the given task.  For example, you might merge the `sets` and `themes` DataFrames to answer one question, and then merge `sets`, `inventories`, `inventory_minifigs`, and `minifigs` to answer another.  This will make your code much easier to write and will be key in working with data across multiple tables.  In fact, I was able to create each function with only one line of code because of the merging of certain data sets.  Also note that you may not use all the tables in this assignment.  This is also an important skill for a Data Scientist to know when to use data and what data is unnecessary.

When complete, save your notebook as `lego.ipynb` and submit to CodeGrade for automatic grading.

## Note

<u>Show Work</u>

Remember that you must show your work.  Students submissions are spot checked manually throughout the term to verify that they are not hard coding the answer from looking only in the file or in CodeGrade's expected output.  If this is seen, the student's answer will be manually marked wrong and their grade will be changed to reflect this. 

For example, if the answer to Q1, the mean of a specific column, is 22:
```
# correct way
Q1 = df['column_name'].mean()

# incorrect way
Q1 = 22 
```

Let's start out by importing some standard imports.

In [1]:
# common imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', None)

## Import Data

Load the various Lego datasets below calling them the same as the name of the table as seen in the schema.  Note that you may or may not have to use all the data sets.  One of the things that all Data Scientists and Analysts have to decide when working on a project is what data is useful for a task and what data is not.  Remember to look at the schema above to see how all the data sets are connected.

The autograder in CodeGrade will have the `csv` files in the same location where the notebook is run.  Because of this, please make sure your local files are in the same location as your notebook.

In [2]:
# import Lego data sets here
# make sure that files are in the same folder as your notebook
inventories = pd.read_csv('inventories.csv')
inventory_sets = pd.read_csv('inventory_sets.csv')
sets = pd.read_csv('sets.csv')
themes = pd.read_csv('themes.csv')
inventory_minifigs = pd.read_csv('inventory_minifigs.csv')
minifigs = pd.read_csv('minifigs.csv')
inventory_parts = pd.read_csv('inventory_parts.csv')
part_categories = pd.read_csv('part_categories.csv')
parts = pd.read_csv('parts.csv')
colors = pd.read_csv('colors.csv')
part_relationships = pd.read_csv('part_relationships.csv')
elements = pd.read_csv('elements.csv')

## Exploration

Take time to look at all of the data sets using `.head()`, `.info()`, `.describe()`, etc to familiarize yourself with the data sets.  As you look at them, notice how the various tables connect together.

## Assignment

Answer all the questions below using the available data.  There are multiple ways to get some of the answers.  I would suggest that you attempt to merge some data sets as needed to assist with getting answers.  This will make your tasks a lot easier and your code will be cleaner.

Also, you will be creating functions to get the answers to some of these questions.  This will make it much easier for you to get answers to similar questions in the future and CodeGrade will be checking your functions using different inputs.

**Q1:** Create a function called `data_count` that takes as input the data set (for example: `sets`) and returns the total number of rows in the data (as an integer).  Nothing else should be returned.

In [3]:
def data_count(data):
    return data.shape[0]

**Code Check:**  If you call your `data_count` function using the `sets` DataFrame, you should see that there are 18,576 sets represented in the data.

In [4]:
data_count(sets)

18576

**Q2:** What is the average number of parts for a Lego set (rounded to the nearest integer)?  Save this as `Q2`.

In [5]:
Q2 = round(sets['num_parts'].mean())

**Q3:** What is the median number of parts per set (output as an integer)?  Save this as `Q3`.

In [6]:
Q3 = round(sets['num_parts'].median())

You should see that the median number of parts is much lower than the average number of parts per set.  This tells us that there are some Lego sets with a very high number of parts that brings the average up.

**Q4:** What is the largest number of parts that a set has? Save this as `Q4`.

In [7]:
Q4 = sets['num_parts'].max()

**Q5:** Given the set with the largest number of parts calculated above, select its row from the `sets` DataFrame.  Save this as `Q5`.  Do not reset the index.

In [8]:
Q5 = sets[sets['num_parts'] == sets['num_parts'].max()]

**Q6:** Create a function called `select_set_row` where you pass it the `set_num` (as a string) and the function returns the respective row of the DataFrame from `sets`. Do not reset the index.

In [9]:
def select_set_row(x):
    sets.rename(columns={'name_sets':'name'}, inplace=True)
    sets.rename(columns={'id':'theme_id'}, inplace=True)
    y = sets[sets['set_num'] == x]
    return y

**Q7:** Create a function called `select_set_numparts` that takes as input a specific number of parts (as an integer) and selects all the rows in the `sets` DataFrame that contain those number of parts.  Return the DataFrame sorted by `year` and then by `set_num`.  Do not reset the index.

In [10]:
def select_set_numparts(x):
    y = sets[sets['num_parts'] == x]
    y.rename(columns={'name_sets':'name'}, inplace=True)
    y.rename(columns={'id':'theme_id'}, inplace=True)
    y.sort_values(by=['year','set_num'], ascending=True, inplace=True)
    return y

**Code Check:** Call the `select_set_numparts()` function to select all sets with `0` number of parts.  There should be 3,146 rows returned.

In [11]:
select_set_numparts(0)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,set_num,name,year,theme_id,num_parts
11061,700.1-2,Extra-Large Gift Set (Mursten),1953,366,0
17563,b55dk-01,Lego Mursten - System i Leg Byggebog,1955,497,0
17564,b56de-01,System im Spiel,1956,497,0
11072,700.2-2,Gift Package,1957,366,0
11078,700.3A-2,Gift Package,1957,372,0
...,...,...,...,...,...
15619,854195-1,Ernie Key Chain,2022,503,0
15620,854197-1,Demogorgon Key Chain,2022,503,0
17170,9780744054583-1,DC Comics Super Heroes: Character Encyclopedia...,2022,497,0
17193,9780794447557-1,City: Color The City,2022,497,0
17200,9780794448172-1,DC Comics Super Heroes: Ready For Action,2022,497,0

**Q8:** 
- The oldest set listed was made in what year?  Save the year as `Q8A` (as an integer).  
- The newest set listed was made in what year? Save the year as `Q8B` (as an integer).

In [12]:
Q8A = sets['year'].min()

In [13]:
Q8B = sets['year'].max()

**Q9:** 
- Create a function called `select_set_year` that takes as input a year (as an integer) and returns the rows from the `sets` DataFrame that matches that year.  Sort the DataFrame by `set_num`.  Do not reset the index.
- Use the above function to return a DataFrame for rows that match the minimum year (calculated as `Q8A` above) and call this `Q9A`.  
- Then use the above function to return a DataFrame for rows that match the maximum year (calculated as `Q8B` above) and call this `Q9B`.

In [14]:
def select_set_year(x):
    sets.rename(columns={'name_sets':'name'}, inplace=True)
    sets.rename(columns={'id':'theme_id'}, inplace=True)
    y = sets[sets['year'] == x]
    y.sort_values(by=['set_num'], ascending=True, inplace=True)
    return y

In [15]:
Q9A = select_set_year(Q8A)
Q9B = select_set_year(Q8B)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

**Q10:** What is the median year represented in the `sets` data?  Save this as `Q10` (as an integer).

In [16]:
Q10a = sets['year'].median()
Q10 = int(Q10a)

Notice that the first set was back in 1949 but over half of the sets were after the median year. This could be an indication that the number of sets has increased greatly over the past number of years.

**Q11:** What is the average number of sets listed per year?  Save this as `Q11` (as an integer).

In [17]:
Q11a = sets['year'].value_counts()
Q11a = Q11a.mean()
Q11 = int(Q11a)

**Q12:** 
- Create a function called `theme_by_year` that takes as input a year (as an integer) and shows the theme ids and theme names (listed in order by theme id) that were in sets that year.  
- The column names must be `id` and `name_themes` (to differentiate between the name of a theme and the name of a set) in that order.  
- The index should be reset and go from `0` to `n-1`.  
- Each theme should only be listed once even if it appeared in more than one set from that year -- duplicate themes should be based on theme id and not name since there are some themes with the same name but with a different id.
- Hint:  It will help if you were to think about merging appropriate DataFrames to help you get this answer.

In [18]:
def theme_by_year(x):
    sets.rename(columns={'theme_id':'id'}, inplace=True)
    themes.rename(columns={'name':'name_themes'}, inplace=True)
    sets2 = pd.merge(sets, themes, on='id')
    y = sets2.loc[sets2['year'] == x, ['id','name_themes']]
    y.drop_duplicates(['id'], inplace=True)
    y.sort_values(by=['id'], ascending=True, inplace=True)
    y = y.reset_index(drop=True)
    return y

**Code Check:** Call the `theme_by_year()` function on the year `1960`.  Your output should look as follows:

| | id | name_themes|
|-|---|---|
|0|371|Supplemental|
|1|497|Books|
|2|513|Classic|

**Optional Practice:** Call the `theme_by_year()` function using your birth year to see the Lego themes that were popular when you were born.

**Q13:** What theme has the most number of sets associated with it?  Save the theme name as `Q13` (as a string).

In [19]:
sets.rename(columns={'name':'name_sets'}, inplace=True)
sets.rename(columns={'theme_id':'id'}, inplace=True)
themes.rename(columns={'name':'name_themes'}, inplace=True)
sets3 = pd.merge(sets, themes, on='id')
Q13 = sets3['name_themes'].value_counts().idxmax()
Q13

'Gear'

**Q14:** 
- Create a function called `theme_by_name` that takes as input a theme name and outputs all the sets (in `set_num` order) that had that theme.  
- The DataFrame should include the following columns in this order and with these exact names: `set_num`,`name_sets`,`year`,`num_parts`, `theme_id`, and `name_themes`.  
- The index should go from `0` to `n-1`.

In [20]:
def theme_by_name(x):
    sets.rename(columns={'name':'name_sets'}, inplace=True)
    sets.rename(columns={'theme_id':'id'}, inplace=True)
    sets2 = pd.merge(sets, themes, on='id')
    sets2.rename(columns={'id':'theme_id'}, inplace=True)
    sets2.rename(columns={'name':'name_themes'}, inplace=True)
    sets2.sort_values(by=['set_num'], ascending=True, inplace=True)
    y = sets2.loc[sets2['name_themes'] == x, ['set_num','name_sets','year','num_parts', 'theme_id', 'name_themes']]   
    y = y.reset_index(drop=True)
    return y

**Code Check:** Call the `theme_by_name()` function using the theme name from `Q13`.  You should return 1,904 sets that match that theme name.

In [21]:
theme_by_name('Gear')

,set_num,name_sets,year,num_parts,theme_id,name_themes
0,11138-1,Bionicle Barraki Wallet,2008,0,501,Gear
1,119645111436-1,Classic Space Astronaut Plush (Red),2021,0,501,Gear
2,119645111504-1,Classic Space Astronaut Plush (Blue),2021,0,501,Gear
3,119645111740-1,Classic Space Astronaut Plush (White),2021,0,501,Gear
4,119645111818-1,Classic Space Astronaut Plush (Pink),2021,0,501,Gear
...,...,...,...,...,...,...
1899,WATCH-3,Watch System Voyager (UFO Space),1997,29,501,Gear
1900,WIIGAME-1,Bionicle Heroes - Wii,2007,0,501,Gear
1901,WIIGAME-2,Indiana Jones: The Original Adventures Video G...,2008,0,501,Gear
1902,WOODENELEPHANT-1,Original Wooden Elephant Pull-Along Toy and Print,2021,0,501,Gear
1903,ZX8000-1,ZX 8000 LEGO Sneaker,2020,0,501,Gear

**Q15:** Create a function called `theme_by_setnum` that takes as input the set_num (as a string) and returns the respective theme name as a string.

In [22]:
def theme_by_setnum(x):
    y = sets3.loc[sets3['set_num'] == x, ['name_themes']].values
    y = str(y)
    y = y.replace('[[', '')
    y = y.replace(']]', '')
    y = y.replace("'", '')
    return(y)
# left off editing Q15

**Code Check:** Visit the [Sets page](https://rebrickable.com/sets/) from the Rebrickable website and find a set that you like.  Call your `theme_by_setnum()` function on that set and make sure the correct theme name is output.

In [23]:
theme_by_setnum('75810-1')

'Stranger Things'

**Q16:** Find all the sets named 'Millennium Falcon'. Of these sets, find the set with the largest number of parts.  You **do not** need to save this as `Q16`.  Instead you will use this information for later questions.

In [24]:
MF = sets.loc[sets['name_sets'] == 'Millennium Falcon']
MF.sort_values(by=['num_parts'], ascending=False, inplace=True)
MF

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

           set_num          name_sets  year   id  num_parts
12884      75192-1  Millennium Falcon  2017  171       7541
209        10179-1  Millennium Falcon  2007  171       5197
12959      75257-1  Millennium Falcon  2019  158       1351
12790      75105-1  Millennium Falcon  2015  158       1330
13846       7965-1  Millennium Falcon  2011  158       1254
12450       7190-1  Millennium Falcon  2000  158        671
12719      75030-1  Millennium Falcon  2014  158         94
6570        4488-1  Millennium Falcon  2003  158         87
18488  TRUFALCON-1  Millennium Falcon  2016  158         44
16458     911607-1  Millennium Falcon  2016  158         42
16501     911949-1  Millennium Falcon  2019  158         32
18511    TRUSWMF-2  Millennium Falcon  2018  158         24

**Q17:** 
- How many minifigs are contained in the set from `Q16`?  Save this as `Q17` (as an integer).  
- Note that there are sometimes multiple versions of a set as shown in the `inventories` table.  This will not matter for this question as there is only one version for the respective set but this should be noted for future questions.
- Remember to show your work or your answer will manually get marked as incorrect.

In [25]:
inventories.rename(columns={'id':'inventory_id'}, inplace=True)
themes.rename(columns={'name':'theme_name'}, inplace=True)
mfmini = pd.merge(sets, themes, on='id')
mfmini = pd.merge(mfmini, inventories, on='set_num')
mfmini = pd.merge(mfmini, inventory_minifigs, on='inventory_id')
mfmini = pd.merge(mfmini, minifigs, on='fig_num')
mfmini_final = mfmini.loc[mfmini['set_num'] == '75192-1']
Q17 = len(mfmini_final)
Q17

8

**Q18:** 
- Create a function called `get_minifigs` that takes as input a set number (as a string) and a version number (as an integer) and outputs all minifigs from that set / version combination.  
- The DataFrame should be in `fig_num` order with the following columns/column names: `set_num`, `fig_num`, `fig_name`, `fig_num_parts`.  
- The index should go from 0 to n-1.

In [26]:
def get_minifigs(x,y):
    mfmini.rename(columns={'name':'fig_name', 'num_parts_y':'fig_num_parts'}, inplace=True)
    z = mfmini.loc[mfmini['set_num'] == x]
    z = z.loc[z['version'] == y, ['set_num','fig_num', 'fig_name', 'fig_num_parts']]
    z.sort_values(by=['fig_num'], ascending=True, inplace=True)
    z = z.reset_index(drop=True)
    return z

**Q19:** Using the above function, output information about the minifigs from the set discussed in `Q16`.  Save this output as `Q19`.

In [27]:
Q19 = get_minifigs('75192-1',1)

**Code Check:** Make sure that your `get_minifigs()` function works with both version 1 and version 2 of set 10217-1, Harry Potter's Diagon Alley.  Both versions should have 11 minifigs in the DataFrame.

**Q20:** 
- Create a function called `minifigs_from_themes` that takes as input a theme id (as an integer) and outputs all the minifigs contained in sets with that theme.  
- The DataFrame should be in `fig_num` order with the following columns/column names: `fig_num`, `fig_name`. 
- The index should go from 0 to n-1.  
- Exact duplicates should be removed so that only unique figs are included.

In [28]:
def minifigs_from_themes(x):
    y = mfmini.loc[mfmini['id'] == x, ['fig_num', 'fig_name']]
    y.sort_values(by=['fig_num'], ascending=True, inplace=True)
    y = y.drop_duplicates()
    y = y.reset_index(drop=True)
    return y

**Code Check:** Call the `minifigs_from_themes()` function using the theme number of the set discussed in `Q16`.  There should be 149 minifigs output for that respective theme.

In [29]:
minifigs_from_themes(171)

        fig_num                                           fig_name
0    fig-000003                              Assassin Droid, White
1    fig-000124                           Chewbacca, Reddish Brown
2    fig-000144  Luke Skywalker, White Robe, White Legs, Cheek ...
3    fig-000303           Clone Trooper, Phase I Armor, Brown Eyes
4    fig-000516  Darth Vader, Light Bluish Gray Skin, Scarred R...
..          ...                                                ...
144  fig-011942  AT-AT Driver - Light Bluish Grey Helmet, Sand ...
145  fig-011944  Snowtrooper, White Hips, Reddish Brown Head, F...
146  fig-011945  Snowtrooper, White Hips, Light Flesh Head, Female
147  fig-011946  Snowtrooper, White Hips, Light Flesh Head, Off...
148  fig-011957    Snowtrooper, White Hips, Light Flesh Head, Grin

[149 rows x 2 columns]

**Q21:** 
- Create a function called `sets_from_minifig` that takes as input a minifig number (as a string) and returns a list of sets a minifig has appeared in.  
- Return a DataFrame (sorted by `set_num` and then by `version`) with the following columns: `set_num`, `version`,`name_sets`, `fig_num`, `fig_name`.  
- The index should go from 0 to n-1.

In [30]:
def sets_from_minifig(x):
    y = mfmini.loc[mfmini['fig_num'] == x, ['set_num','version','name_sets', 'fig_num', 'fig_name']]
    y.sort_values(by=['set_num', 'version'], ascending=True, inplace=True)    
    y = y.reset_index(drop=True)
    return y

**Code Check:** Call your `sets_from_minifig()` function on one of the Lego Friends minifigs, Andrea, who has figure number: `fig-001039`.  Your function should return a DataFrame that contains the following sets:

- Andrea on the Beach
- Birthday Party
- City Park Cafe

In [31]:
sets_from_minifig('fig-001039')

,set_num,version,name_sets,fig_num,fig_name
0,30100-1,1,Andrea on the Beach,fig-001039,"Andrea - Bright Light Orange Top, Light Aqua S..."
1,30107-1,1,Birthday Party,fig-001039,"Andrea - Bright Light Orange Top, Light Aqua S..."
2,3061-1,1,City Park Café,fig-001039,"Andrea - Bright Light Orange Top, Light Aqua S..."

**Q22:** 

*Note:  Before you begin working on this question, please note that CodeGrade has a 1GB RAM limit.  If you see an `Exit -9` code when submitting your assignment, it is probably due to this RAM limit and previous students had an issue with this question causing too much memory usage.  The biggest thing to think about is to only use the tables that you need to answer for this question.  For instance, you do not need any of the minifigs data since this is not needed for the output and the merging of this data could cause the number of rows to "explode" in terms of the total count.  I understand that this can be annoying that we have to work around CodeGrade's limitations, but it is good practice in memory management.*

- Create a function called `set_parts` that takes as input the set number (as a string) and version number (as an integer) and outputs a DataFrame with each part in the set.  
- The DataFrame should have the following columns/column names: `set_num`, `version`, `name_sets`, `year`, `name_themes`, `part_num`, `name_part`, `name_color`,`quantity`,`is_spare`.  
- The Data should be sorted by `part_num` and then `name_color`.  
- The index should go from 0 to n-1.

In [32]:
def set_parts(x,y):
    inventories.rename(columns={'id':'inventory_id'}, inplace=True)
    colors.rename(columns={'id':'color_id'}, inplace=True)
    colors.rename(columns={'name':'name_color'}, inplace=True)
    parts.rename(columns={'name':'name_part'}, inplace=True)
    themes.rename(columns={'theme_name':'name_themes'}, inplace=True)
    sp1 = pd.merge(sets, themes, on='id')
    sp1 = pd.merge(sp1, inventories, on='set_num')
    sp1 = pd.merge(sp1, inventory_parts, on='inventory_id')
    sp1 = pd.merge(sp1, colors, on='color_id')
    sp1 = pd.merge(sp1, parts, on='part_num')
    z = sp1.loc[sp1['set_num'] == x]
    z = z.loc[z['version'] == y, ['set_num', 'version', 'name_sets', 'year', 'name_themes', 'part_num', 'name_part', 'name_color', 'quantity', 'is_spare']]
    z.sort_values(by=['part_num', 'name_color'], ascending=True, inplace=True)
    z = z.reset_index(drop=True)
    return z

**Code Check**: Using the `set_parts()` function, output a list of parts for the set discussed in `Q16`. There should be a total of 730 rows in the DataFrame, which includes 676 parts and 54 spare parts. You can check the respective page on the rebrickable website to verify these results.

In [33]:
set_parts('75192-1',1)

,set_num,version,name_sets,year,name_themes,part_num,name_part,name_color,quantity,is_spare
0,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10197,Technic Pin Connector Hub with 2 Perpendicular...,Dark Bluish Gray,3,f
1,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10201,Bracket 1 x 2 - 1 x 4 [Rounded Corners],Light Bluish Gray,12,f
2,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10247,Plate Special 2 x 2 with 1 Pin Hole [Complete ...,Dark Bluish Gray,5,f
3,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10247,Plate Special 2 x 2 with 1 Pin Hole [Complete ...,White,22,f
4,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10314,"Brick Curved 1 x 4 x 1 1/3 No Studs, Curved To...",Tan,3,f
...,...,...,...,...,...,...,...,...,...,...
725,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99563,Tile Special 1 x 2 with Sloped Walls AKA Money...,Light Bluish Gray,70,f
726,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99780,Bracket 1 x 2 - 1 x 2 Inverted,Black,6,f
727,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99780,Bracket 1 x 2 - 1 x 2 Inverted,Dark Bluish Gray,25,f
728,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99781,Bracket 1 x 2 - 1 x 2,Light Bluish Gray,2,f
729,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99784,Bar 1 x 12 with 1 x 2 Plate End with Hollow St...,Light Bluish Gray,3,f

  **Q23:**  Get a list of all unique color names, sort by color name, and output as a list.  Save this as `Q23`.

In [34]:
colors.sort_values(by=['name_color'], ascending=True, inplace=True) 
x = colors['name_color']
Q23 = x.tolist()

**Q24:** How many total transparent colors are in the `colors` DataFrame?  Save this as `Q24` (as an integer).

In [35]:
Q24 = len(colors[colors['is_trans'] == 't'])
Q24

38

**Q25:**  
- Create a function called `get_part_colors` that takes as input a part number (as a string) and returns a DataFrame of all colors a part has appeared in.  
- The DataFrame should be sorted by color id  
- The index should go from 0 to n-1.

In [36]:
def get_part_colors(x):
    inventories.rename(columns={'id':'inventory_id'}, inplace=True)
    inventory_parts.rename(columns={'id':'inventory_id'}, inplace=True)
    colors.rename(columns={'name_color':'name'}, inplace=True)
    gpc = pd.merge(inventories, inventory_parts, on='inventory_id')
    gpc = pd.merge(gpc, colors, on='color_id')
    gpc = pd.merge(gpc, parts, on='part_num')
    gpc.rename(columns={'color_id':'id'}, inplace=True)
    z = gpc.loc[gpc['part_num'] == x, ['id','name', 'rgb', 'is_trans']]
    z.sort_values(by=['id'], ascending=True, inplace=True)
    z.drop_duplicates(subset='id', inplace=True)
    z = z.reset_index(drop=True)
    return z

In [37]:
get_part_colors('10247')

   id               name     rgb is_trans
0   0              Black  05131D        f
1   4                Red  C91A09        f
2  14             Yellow  F2CD37        f
3  15              White  FFFFFF        f
4  19                Tan  E4CD9E        f
5  71  Light Bluish Gray  A0A5A9        f
6  72   Dark Bluish Gray  6C6E68        f

## Optional Exercises
These exercises are optional and are not graded by CodeGrade.  They can be used as extra optional practice.

- What minifig has the most number of parts?
- What minifig shows up in the most number of sets?
- When was the first minifig included in a set?
- What set has the most number of minifigs
- What part is used the most for all sets?
- What color is used the most for all parts?
- What part / color combination is used the most for all sets?
- What part / color combination is used the least for all sets?
- Explore some of your favorite themes and which colors are used the most for those themes.
- Plot a line graph of the average number of parts per set per year.